* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: url(./images/Background.jpg) top center/cover no-repeat fixed;
}
::selection {
  color: rgb(0, 4, 255);
  background: rgb(255, 255, 255);
}

.navbar-custom{
  background-color: aqua;

}
